  .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .about-container .title  {
    margin: .5rem 0rem;
    text-align: left;
    font-size: 1.8rem;
  }

  .about-container p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 0rem;
  }

  .about-container a {
    color: var(--light-color);
  }
  
  .about-image-container {
    font-size: 1.1rem;
    width: 60%;
    text-align: center;
    background: var(--accent-color);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.8rem -1.3rem var(--light-color);
  }
  
  svg {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .about-image-container {
      width: 100%;
    }
  }