.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-image-container {
    font-size: 1.1rem;
    width: 60%;
    text-align: center;
    background: var(--accent-color);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.8rem -1.3rem var(--light-color);
  }
    
  .about-title {
    font-size: 2rem;
    font-weight: 100;
    text-align: left;
    margin: 0;
  }
  
  svg {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .about-image-container {
      width: 100%;
    }
  }