.about-container {
    flex-direction: column;
    justify-content: center;
  }

  .about-container p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: left;
    margin-bottom: 0rem;
  }

  .about-container a {
    color: var(--light-color);
  }
  
  .about-image-container {
    font-size: 1.1rem;
    width: 60%;
    text-align: center;
    background: var(--accent-color);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.8rem -1.3rem var(--light-color);
  }
    
  .about-title {
    line-height: 3.2rem;
    text-align: center;
    font-size: 3.5rem;
    color: var(--light-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px #a5a0a0;
    margin: 1rem 0rem;
  }
  
  svg {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .about-image-container {
      width: 100%;
    }
  }