.share-button button {
    margin: 1rem;
    background: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 5px 5px 1px 0px rgb(165 160 160);
    border-radius: 0px;
}

.share-button ul {
    border: none;
}

.share-button ul li {
    float: left;
    width: 100%;
    padding: 0.15rem;
}