.post-content .post-date {
    background: var(--secondary-color);
    color: var(--main-color);
    padding: 0.3rem;
    font-size: 1rem;
    box-shadow: 5px 5px 1px 0px rgb(165 160 160);
    font-weight: 100;
}

.post-content .post-title {
    line-height: 3.2rem;
    text-align: center;
    font-size: 3.5rem;
    color: var(--accent-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px #a5a0a0;
    margin: 1rem 0rem;
}

.post-content .post-featured-image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    margin: 0 0 2rem 0;
    border: 1px solid black;
    padding: 0.2rem;
    box-shadow: 10px 10px 1px 0px rgb(165 160 160);
}

.post-content .post-body {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: left;
    margin: 0 0 2rem 0;
}

.post-content .post-body img {
    max-width: 100%;
    object-fit: cover;
    border: 1px solid black;
    padding: 0.2rem;
    box-shadow: 5px 5px 1px 0px rgb(165 160 160);
}

.post-content .post-body h1 {
    font-size: 2.5rem;
    margin: 4rem 0 1rem 0;
}

.post-content .post-body h2 {
    font-size: 1.8rem;
    margin: 3rem 0 0 0;
}

.post-content .post-body a {
    color: var(--light-color);
    padding: 0;
}

.post-content .post-body ul {
    text-align: left;
    padding: 1rem;
}

.post-content .post-body pre {
    display: inline-grid;
    width: 100%;
    border: 1px solid black;
    padding: 0.2rem;
    box-shadow: 5px 5px 1px 0px rgb(165 160 160);
}

.post-content .post-body pre code {
    max-width: 100%;
    float: left;
    overflow-x: scroll;
    background: #222;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2.2rem .5rem;
}

.post-content .post-body .btn-copy-code {
    color: #fff;
    text-align: left;
    margin: auto 0.5rem -2rem auto;
    z-index: 1;
    font-size: .8rem;
    width: fit-content;
    cursor: pointer;
}

.post-content .post-body .btn-copy-code:hover {
    color: #4f946c;
}

.post-content .post-body .btn-copy-code i {
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.2rem;
}