/* Paleta de colores */  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
  
.social-links table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}
  
.social-links td {
  border: 1px solid var(--main-color);
  text-align: center;
  padding: 15px;
  vertical-align: middle;
}
  
.social-links .button-linkedin {
  background-color: var(--main-color);
}
  
.social-links .button-github {
  background-color: var(--accent-color);
}

.social-links .button-twitter {
  background-color: var(--secondary-color);
}

/* Responsividad */
@media (max-width: 768px) {
  .social-links table {
    width: 100%;
  }

  .social-links td {
    display: block;
    width: 100%;
  }
}

.social-links {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.social-links a {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--main-color);
  transition: opacity 0.3s ease; 
}

.social-links a:hover {
  opacity: 0.8; /* Añadir opacidad al hacer hover */
}

/* Colores de las redes sociales */
.social-links .linkedin {
  background-color: #0077b5;
}

.social-links .github {
  background-color: #000000;
}

.social-links .twitter {
  background-color: #000000;
}
  