  .navbar {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: .5rem;
    width: 100%;
  }

  .navbar a {
    color: var(--main-color);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .navbar .title {
    text-shadow: none;
    font-family: sans-serif;
    margin: 0 2rem 0 0;
    font-size: 2rem;
    font-weight: 700;
    float: left;
    text-decoration: none;
  }
  
  .navbar .list {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: none;
  }

  .navbar .list ul {
    display: inline; 
  }

  .navbar .list ul li {
    float: left;
  }

  .triangle {
    position: relative;
    background: #c53913;
    margin-top: -1px;
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 180px 80px 0 10px;
    border-color: #c53913 transparent transparent transparent;
    transform: translateX(-50%) translateY(100%);
    z-index: -1;
  }