  .navbar {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: .5rem;
    width: 100%;
    box-shadow: 5px 5px 1px 0px rgb(165 160 160);
    align-content: baseline;
  }

  .navbar a {
    color: var(--main-color);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .navbar .title {
    text-shadow: none;
    font-family: sans-serif;
    margin: 0 2rem 0 0;
    font-size: 2rem;
    font-weight: 700;
    float: left;
    text-decoration: none;
  }
  
  .navbar .list {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: grid;
  }

  .navbar .list ul {
    display: inline; 
    list-style: none;
  }

  .navbar .list ul li {
    float: left;
  }