  .navbar {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: .5rem;
    width: 100%;
  }

  .navbar a {
    color: var(--main-color);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .navbar .title {
    text-shadow: none;
    font-family: sans-serif;
    margin: 0 2rem 0 0;
    font-size: 2rem;
    font-weight: 700;
    float: left;
    text-decoration: none;
  }
  
  .navbar .list {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: none;
  }

  .navbar .list ul {
    display: inline; 
  }

  .navbar .list ul li {
    float: left;
  }

  .spikes {
    position: relative;
    background: var(--secondary-color);
    height: 1vh;
  }
  
  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -46%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 20px;
    background-size: 20px 100%;
    background-image: linear-gradient(135deg, var(--secondary-color) 25%, transparent 25%), linear-gradient(225deg, var(--main-font-color) 25%, transparent 25%);
    background-position: 0 0;
  }
  