.header-nav {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: .5rem;
  }
  
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header-menu.responsive {
    flex-direction: column;
    align-items: center;
  }
  
  .header-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
  }

  #title {
    margin: 0 5rem 0 0;
    font-size: 2rem;
    font-weight: 700;
    float: left;
    font-family: 'Anton', sans-serif;
  }
  
  @media (max-width: 768px) {
    .header-nav {
      justify-content: center;
    }
  
    .header-menu {
      justify-content: center;
    }

    #title {
      margin-right: 0;
    }
  }
  