.post-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.post-list li {
    width: 100%;
    margin: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--light-color);
}

.post-list li a {
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding: 0 0.5rem;
    text-decoration: none;
}

.post-list li a:hover {
    text-decoration: underline;
}