.post-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.post-list li {
    display: inline;
    margin: 1rem;
    background: var(--secondary-color);
    padding: 0.5rem 0;
    cursor: pointer;
}

.post-list li a {
    font-size: 1.2rem;
    color: var(--main-color);
    padding: 0 0.5rem;
    text-decoration: none;
}

.post-list li a:hover {
    text-decoration: underline;
}