name: Client deployment.
on:
  push:
    branches:
      - main
    paths:
      - 'client/**'

env:
  BLOG_STACK: BlogStack

jobs:
  build:
    name: Build React Changes
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    
    - name: Deploy static site to S3 bucket
      run: aws s3 sync ./public/ s3://${{ secrets.BLOG_BUCKET }} --delete